/*main*/

.hero {
  display: flex;
  padding: 3rem;
  background: #5D4157;
  background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
  background: linear-gradient(to right, #A8CABA, #5D4157);
  color: black;
  gap: 2rem;
  font-family: 'Archivo Black', sans-serif;
}

.hero-left, .hero-right {
  flex: 1;
}

.hero-tittle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;

  /*margen del boton*/
  border-radius: 3rem;

  /*borde*/
  border-color: black;

  /*color del borde*/
  font-family: 'Archivo Black', sans-serif;
}

.hero-parrafo {
  color: black;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-link {
  color: black;
  border: 3px solid black;
  padding: 1rem;
  display: inline-block;
  border-radius: 3rem;
}

.hero-text {
  margin-bottom: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

.hero-img {
  display: flex;
  display: inline-block;

  /*bloqueo de linea*/
}

/*porque flex-box*/

.porque {
  background: #5D4157;
  background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
  background: linear-gradient(to right, #A8CABA, #5D4157);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Archivo Black', sans-serif;
}

.porque-tittle {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Archivo Black', sans-serif;
}

.porque-parrafo {
  font-size: 1.5rem;
  padding: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.porque-right {
  max-width: 60%;
}

/*tarjetas grid*/

.tarjetas-sociales {
  padding: 5rem;
  background: #5D4157;
  background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
  background: linear-gradient(to right, #A8CABA, #5D4157);
  font-family: 'Archivo Black', sans-serif;
}

.tarjetas-tittle {
  text-align: center;
  font-size: 3rem;
  color: black;
  margin-bottom: 3rem;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.tarjeta1, .tarjeta2, .tarjeta3 {
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.tarjeta1:hover, .tarjeta2:hover, .tarjeta3:hover {
  transform: scale(1.05);
  background: #E8CBC0;
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
  background: linear-gradient(to right, #636FA4, #E8CBC0);
}

.tarjeta-tittle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: black;
  font-family: 'Archivo Black', sans-serif;
}

.tarjeta-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: 'Arial', sans-serif;
}

.tarjeta-item {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: black;
}

.tarjetas-link {
  color: #007bff;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

/* productos grid con bootstrap */

.carousel-grid {
  max-width: 1200px;

  /* Establece el ancho máximo del contenedor */
  margin: 0 auto;

  /* Centra el contenedor en la página */
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
}

.carousel {
  max-width: 100vh;

  /* Establece el ancho máximo del carrusel */
  margin: 0 auto;

  /* Centra el carrusel en su contenedor */
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: black;
  font-family: 'Archivo Black', sans-serif;
}

.carousel-text {
  font-size: 1rem;
  color: black;
}

.carousel-item {
  position: relative;
  text-align: center;

  img {
    width: 100%;

    /* Establecer el ancho al 100% */
    height: 100%;

    /* Establecer altura al 100% */
    object-fit: cover;

    /*Mantenga la relación de aspecto y cubra el contenedor.*/
  }
}

.carousel-indicators {
  display: flex;
  justify-content: center;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  display: inline-block;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}
