/* quienes somos */

.class-quienes {
    text-align: center;
    margin: 1rem;
    background-color: #dcd3ff;
  }
  
  h2 {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
  }
  