/*puntos de venta */

.class-venta {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background: #5D4157;
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
    background: linear-gradient(to right, #A8CABA, #5D4157);
  
    &:hover {
      transform: scale(1.05);
  
      /* Escala de elemento al pasar el mouse */
      transition: transform 0.3s ease;
  
      /* Añade un efecto de transicion */
    }
  }
  
  @media (min-width: 768px) {
    .class-venta {
      margin: 20px;
      padding: 20px;
      text-align: center;
      background: #3498db;
      color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease;
    
      &:hover {
        transform: scale(1.05);
      }
     }
  }

  @media (max-width: 480px) {
    .class-venta {
      margin: 10px;
      padding: 10px;
      font-size: 14px;
  
      /* Ajusté el tamaño del texto */
    }
  }
  


    
