/* quienes somos */

.class-quienes {
    text-align: center;
    margin: 1rem;
    background-color: #dcd3ff;
  }
  
  h2 {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
  }
  
  @media (max-width: 768px) {
    .class-quienes {
      text-align: center;
      margin: 20px;
      padding: 20px;
      background-color: #dcd3ff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    h2 {
      text-align: center;
      text-decoration: underline;
      margin: 20px 0;
      color: #5348b5;
    }
  }

  @media (max-width: 480px) {
    .class-quienes {
      margin: 10px;
      padding: 10px;
      font-size: 14px;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    .class-quienes:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }
  
  


